<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.destiny.event.scheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="D Event Scheduler"
        android:supportsRtl="true"
        android:theme="@style/DestinyApp">
        <activity
            android:name="com.destiny.event.scheduler.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.destiny.event.scheduler.activities.WebActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name="com.destiny.event.scheduler.activities.DrawerActivity">
        </activity>
        <activity
            android:name="com.destiny.event.scheduler.activities.PrepareActivity"
            android:noHistory="true">
        </activity>
        
        <provider
            android:authorities="com.destiny.event.scheduler.provider"
            android:name=".provider.DataProvider"
            android:exported="false">
        </provider>

        <service android:name=".services.BungieService"
            android:exported="false">
        </service>
        
        <service android:name=".services.NotificationService"
            android:enabled="true">
        </service>
        
        <receiver android:name=".services.AlarmReceiver"/>
        
        
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
