<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.the.bunker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DestinyApp"
        android:name="com.app.the.bunker.DestinyApplication">
        <activity
            android:name="com.app.the.bunker.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.the.bunker.activities.WebActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity android:name="com.app.the.bunker.activities.NoticeActivity"
            android:noHistory="true"/>
        <activity
            android:name="com.app.the.bunker.activities.DrawerActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="com.app.the.bunker.activities.PrepareActivity"
            android:noHistory="true">
        </activity>
        
        <provider
            android:authorities="com.app.the.bunker.provider"
            android:name="com.app.the.bunker.provider.DataProvider"
            android:exported="false">
        </provider>

        <service android:name="com.app.the.bunker.services.BungieService"
            android:exported="false">
        </service>

        <service android:name="com.app.the.bunker.services.ServerService"
            android:exported="false">
        </service>
        
        <service android:name="com.app.the.bunker.services.NotificationService"
            android:enabled="true">
        </service>

        <service android:name="com.app.the.bunker.services.AlarmService"
            android:exported="false"
            android:enabled="true">
        </service>

        <service android:name="com.app.the.bunker.services.UpdateNotificationsService"
            android:exported="false"
            android:enabled="true">
        </service>
        
        <receiver android:name="com.app.the.bunker.services.AlarmBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".services.AlarmReceiver">
        </receiver>

        <service android:name="com.app.the.bunker.services.DownloadService"
            android:exported="false"
            android:enabled="true">
        </service>

        <service android:name="com.app.the.bunker.services.LocalService"
            android:exported="false"
            android:enabled="true">
        </service>

        <service android:name="com.app.the.bunker.services.CreateNotificationService"
            android:exported="false"
            android:enabled="true">
        </service>

        <service android:name="com.app.the.bunker.services.NewGameNotificationService"
            android:exported="false"
            android:enabled="true">
        </service>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>



</manifest>
